<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Finder</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <!-- <link rel="stylesheet" href="/static/style.css" -->

</head>
<body>
    <div class="myDiv">
        <h1>Enter the Website URL</h1>
        <form action="/" method="POST" id="url_enter">
            <input type="text" name="website_url" placeholder="Enter website URL" id="input_field">
            <button type="submit" id="submit_button">Submit</button>
        </form>
        
        <h2>Captured Requests for: {{ website_url }}</h2>
    
        {% if script_result %}
            <!-- <h3>Script Tag Search Result:</h3> -->
            <h3>{{ script_result }}</h3>
            <script>
                console.log(script_result)
            </script>
            
            {% elif style_result %}
                <!-- <h3>Style Tag Search Result:</h3> -->
                <h3>{{ style_result }}</h3>
            
          
             
        {% elif requests %}
            <ul>
                {% for req in requests %}
                <li>
                    <strong>URL:</strong> {{ req.url }}<br>
                    <strong>Query Params:</strong> {{ req.query_params }}<br>
                    <strong>Post Data:</strong> {{ req.postData }}<br>
                    <hr>
                </li>
                {% endfor %}
            </ul>
            
        {% elif stored_data %}

            <h3> {{ stored_data }} </h3>
            <script>
                var stored_data_console = JSON.parse('{{ stored_data | tojson | safe }}');
                console.log(stored_data_console);
                // console.log(stored_data)
            </script>

           
            
        {% else %}
            <p>No requests found matching the search parameter.</p>
        {% endif %}
   

        <div id="return_gtm">   
              <!-- <strong>URL:</strong> {{ stored_data }}<br> -->
        </div> 
    </div>
    <div id="bottom">
        <div id="footer">
            <p> Developed by: Sami Ullah Siddiqui </p>
        </div>

    </div>

</body>
</html>